@charset "utf-8";

body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #f1f1f1;
	color: #555;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.title {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
	color: #555;
}
.container {
	margin-top: 55px;
	min-width: 440px;
}
nav ul {
	margin: 16px 0 16px 0;
	padding: 8px 0;
	text-align: left;
	font-weight: 400;
	border-bottom: 1px solid #d4d4d4;
}
nav ul li {
	display: inline;
}
nav ul li a {
	margin-right: 0;
	padding: 10px 20px 10px;
	text-decoration: none;
	font-size: 0.87rem;
	background-color: #f1f1f1;
	color: #333;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	transition: all 0.4s;
}
nav ul li.on a {
	background-color: #8ac007;
	color: #fff;
	border-color: #8ac007
}
.description {
	display: none;
	margin: 30px 0;
	padding: 30px 0;
	font-size: 0.875em;
	color: #333;
	border-bottom: 4px solid #d4d4d4;
}
.description.active {
	display: block;
}